* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
}
main {
  margin: 0 auto;
}
.content {
  font-family: "Montserrat", sans-serif;
  margin: 90px auto;
  width: 1500px;
  height: 864px;
  background: #b07cf7;

  text-align: center;
}
.content h1 {
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  text-align: center;
  padding: 92px 649px 0 649px;

  color: #ffffff;
}
.text {
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  padding: 30px 464px 0 454px;

  color: #ffffff;
}
.box {
  display: flex;
  justify-content: space-around;

  position: absolute;
  top: 470px;
  left: 780px;
  width: 1170px;
  height: 314px;
}
.box__info {
  color: #ffffff;
  text-align: left;
  margin-left: 20px;
  margin-top: -90px;
}
.box p {
  padding-top: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}
.box h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  width: 330px;
}
.data {
  position: absolute;
  top: 30px;
  margin-left: 30px;
  height: 66px;
  width: 66px;
  text-transform: uppercase;
  background: rgba(38, 38, 38, 0.5);
  border-radius: 5px;
  padding: 8px;
}
.number h6 {
  font-weight: bold;
  font-size: 32px;
  line-height: 19px;
  color: #ffffff;
}
.number p {
  font-weight: 900;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;

  color: #ffffff;
}
.left__obraz {
  width: 370px;
  height: 310px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/thumbnail\ \(2\).png");
}
.middle__obraz {
  width: 370px;
  height: 310px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/thumbnail\ \(1\).png");
}
.right__obraz {
  width: 370px;
  height: 310px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/thumbnail.png");
}
span {
  font-family: "Raleway" sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  color: #ffffff;
  padding: 16px 43px;
}
button {
  background: #f72b3b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 205px;
  height: 55px;
  border: none;
  position: absolute;
  left: 1255px;
  top: 842px;
}
