* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
}
main {
  margin: 0 auto;
}
.content {
  font-family: "Montserrat", sans-serif;
  margin: 90px auto;
  width: 1500px;
  height: 864px;
  background: #b07cf7;

  text-align: center;
}
.content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  text-align: center;
  padding: 92px 649px 0 649px;

  color: #ffffff;
}
.text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  padding: 30px 464px 0 454px;

  color: #ffffff;
}
.box {
  display: flex;
  justify-content: space-around;

  position: absolute;
  top: 470px;
  left: 780px;
  width: 1170px;
  height: 314px;
}
.left__obraz {
  width: 370px;
  height: 310px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/thumbnail\ \(2\).png");
}

.left h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  width: 330px;
  position: absolute;
  left: 30px;
  top: 212px;
  text-align: left;
  color: #ffffff;
}
.left p {
  position: absolute;
  left: 30px;
  top: 279px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #ffffff;
}
.left .data {
  position: absolute;
  top: 30px;
  left: 30px;
}
.middle__obraz {
  width: 370px;
  height: 310px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/thumbnail\ \(1\).png");
}
.middle h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  width: 330px;
  position: absolute;
  left: 421px;
  top: 209px;
  text-align: left;
  color: #ffffff;
}
.middle p {
  position: absolute;
  left: 421px;
  top: 275px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #ffffff;
}
.middle .data {
  position: absolute;
  top: 30px;
  left: 421px;
}
.right__obraz {
  width: 370px;
  height: 310px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../img/thumbnail.png");
}
.right h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  width: 330px;
  position: absolute;
  left: 808px;
  top: 209px;
  text-align: left;
  color: #ffffff;
}
.right p {
  position: absolute;
  left: 808px;
  top: 275px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #ffffff;
}
.right .data {
  position: absolute;
  top: 30px;
  left: 808px;
}
span {
  font-family: "Raleawy" sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  color: #ffffff;
  padding: 16px 43px;
}
button {
  background: #f72b3b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 205px;
  height: 55px;
  border: none;
  position: absolute;
  left: 1255px;
  top: 842px;
}
